body
{
    background-color: bisque;
    color: rosybrown;
}

#content
{
    background-color: cornsilk;
    width: 1000px;
    margin: 300 auto;
    border: 4px brown dashed
}

h1
{
    background-color: rgb(246, 211, 158);
    color: rgb(207, 138, 58);
    text-align: center;
    border: 3px crimson dashed;
    margin-left: auto;
    margin-right: auto;
    width: 300;
}
